@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@300&display=swap");

$blue-dark: #1B3D59; //darker blue for backgrounds
$blue-light: #2E9BF0; // cyan for smaller backgrounds and details
$blue-medium: #2D75AE; // color for new module/course buttons
$gray-dark: #808080;
$gray-light: #E6E6E6;
$off-white: #F9F9F9;
