@import 'variables';

/* form styling */

.moduleForm {
  width: 100%;
  height: 100%;
}

.formHeading {
  @include form-box;
  width: 50%;
  height: 8rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom:5rem;

  .formTitle {
    text-align: center;
    background-color: white;
    border: 2px solid $blue-dark;
    box-shadow: -1px 3px 15px rgb(27, 61, 89, 0.5);
    padding: 0.5rem;
    width: 130%;
    margin-left: -15%;
  }

  .formCourseInfo {
    font-size: small;
    align-self: center;
    text-align: left;
    display: flex;
    flex-direction: row;

    .formCourse {
      font-size: small;
      margin-right: 1rem;
    }

    .formCourseName {
      font-size: bold;
      font-size: small;
    }
  }
}

.formBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .moduleInformation {
    margin: 2rem;
    font-family: 'IBM Plex Mono', monospace;
  
    .moduleNameInput {
      border: 2px solid $blue-dark;
      margin-bottom: 1rem;
      padding: .5rem 1rem;
      resize: none;
    }
  }
}


/* module activity fields */
.inputStyle {
  display: flex;
  margin-bottom: 2rem;
  z-index: 1;
  align-items: baseline;
}

.titleMinutes {
  display: flex;
  flex-direction: row;
  width: 40%;
  height: 4rem;
  text-align: center;
}

.minutesTotal {
  background-color: #E6E6E6;
  padding: 2rem;
  margin: 1.5rem -2rem 0rem 3rem;
  width: 5rem;
  height: 5rem;
  border-radius: 58px;
  position: relative;
  bottom: 0rem;
  right: 0rem;
  z-index: 1;
}

.title {
  height: 100%;
  width: 20rem;
  border: 2px solid $blue-dark;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  margin: 2rem;
  word-break: break-word;
  background-color: white;
  z-index: 2;
}

.circleLabel {
  width: 25%;
  margin-left: -5rem;
  background-color: $gray-light;
  height: 2rem;
  min-width: 100px;
  text-align: right;
  padding: .5rem 2rem;
  position: relative;
  right: -1rem;
  z-index: 1;
  font-size: small;
}

.circleInput {
  padding: 1.5rem;
  width: 8rem;
  height: 8rem;
  border: 7px solid $blue-dark;
  border-radius: 70px;
  font-size: large;
  z-index: 2;
  font-size: larger;
}

.description {
  background-color: $gray-light;
  height: 4rem;
  text-align: center;
  position: relative;
  padding: 0 3rem;
  z-index: 1;
  left: -2rem;
  bottom: 0.5rem;
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
}

.formNotes {
  margin: 0rem 2rem 0rem -5rem;
  padding-top: 3rem;
  z-index: 2;
  padding-left: .5rem;
  border: 2px solid $blue-dark;
  width: 300px;
}

.formLabel {
  padding: .5rem;
}

/* module activity header labels */
.topLabels {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 4rem;
  font-size: smaller;
  justify-content: space-around;

  .topLabelMinutes {
    margin: 1rem 10rem 1rem 0rem
  }
  
  .topLabelInput {
    margin: 1rem 3rem 1rem 15rem;
  }

  .topLabelTpT {
    margin: 1rem 2rem 1rem 1rem;
  }
  
  .topLabelNotes {
    margin: 1rem 9rem 1rem 10rem;
  }
}

/* timebar styling */
.timeBar {
  color: white;
  text-align: center;
  position: fixed;
  z-index: 2;
  bottom: 0;
  width: calc(100% - 200px);
  background-color: $blue-dark;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  height: 4.7rem;
  align-items: center;
}

.timeMeter {
  width: 80%;
  height: 1rem;
  background-color: $gray-light;
  border: 2px solid $blue-dark;
  margin: auto;
  position: absolute;
  bottom: 3rem;
}

.timeBarLabels {
  display: flex;
  margin-top: 1rem;
  justify-content: space-evenly;
  width: 100%;
}

.range {
  width: 0%;
  height: 100%;
  z-index: 2;
  background-color: $gray-dark;
  position: absolute;
  right: 0;
  top: 0;
}

.timeUsed {
  width: 0%;
  height: 100%;
  z-index: 30;
  background-color:rgb(250, 199, 15);
  left: 0;
  top: 0;
  position: absolute;
}

.submitButton {
  @include button-primary;
  margin-bottom: 8rem;
}

.submitButton:hover {
  background-color: $blue-light;
}

.selected {
  background-color: $gray-light;
  color: $blue-dark;
}
