@import 'variables';

/* form styling */
.formHeading {
  @include form-box;
  text-align: center;
  width: 80%;
}

.formBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1240px;
}

.moduleInformation {
  display: flex;
  flex-flow: column;
  width: 50%;

  input {
    border: 2px solid $blue-dark;
    margin-bottom: 2rem;
    padding: 0.5rem;
  }
}

/* module activity fields */
.inputStyle {
  display: flex;
  margin-bottom: 2rem;
  z-index: 1;
  align-items: baseline;
}

.titleMinutes {
  display: flex;
  flex-direction: row;
  width: 40%;
  height: 4rem;
  text-align: center;
}

.minutesTotal {
  height: 100%;
  width: 5rem;
  background-color: $gray-light;
  padding: 1rem;
  text-align: center;
  margin: 2.5rem 2rem 5rem 2rem
}

.title {
  height: 100%;
  width: 20rem;
  border: 2px solid $blue-dark;
  padding: 2.5rem 2rem 0rem 2rem;
  text-align: center;
  margin: 0.7rem 4rem 3rem -2rem;
  font-weight: bold;
  padding: 1rem;
  margin: 2.5rem 4rem 5rem -2rem;
  word-break: break-word;
}

.circleLabel {
  width: 15%;
  margin-left: -4rem;
  background-color: $gray-light;
  height: 2rem;
}

.circleInput {
  padding: 1.5rem;
  width: 8rem;
  height: 8rem;
  border: 7px solid $blue-dark;
  border-radius: 70px;
  font-size: large;
  z-index: 2;
}

.description {
  background-color: $gray-light;
  width: 40%;
  height: 4rem;
  text-align: center;
  position: relative;
  padding-left: 3rem;
  z-index: 1;
  left: -2rem;
  bottom: .5rem;
}

.formNotes {
  margin: 0rem 2rem 0rem -5rem;
  padding-top: 3rem;
  z-index: 2;
  padding-left: .5rem;
  border: 2px solid $blue-dark;
}

.formLabel {
  padding: .5rem;
}

/* module activity header labels */
.topLabels {
  display: flex;
  justify-content: space-around;
  width: 1240px;

  p {
    text-decoration: underline;
  }
}

.topLabelMinutes {
  margin-left: -2rem;
}

.topLabelInput {
  padding-left: 21rem;
}

.topLabelNotes {
  margin-right: 12rem;
}

/* timebar styling */
.timeBar {
  color: white;
  text-align: center;
  position: fixed;
  z-index: 2;
  bottom: 0;
  width: calc(100% - 200px);
  background-color: $blue-dark;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  height: 4.7rem;
  align-items: center;
}

.timeMeter {
  width: 80%;
  height: 1rem;
  background-color: $gray-light;
  border: 2px solid $blue-dark;
  margin: auto;
  position: absolute;
  bottom: 3rem;
}

.timeBarLabels {
  display: flex;
  margin-top: 1rem;
  justify-content: space-evenly;
  width: 100%;
}

.range {
  width: 0%;
  height: 100%;
  z-index: 2;
  background-color: $gray-dark;
  position: absolute;
  right: 0;
  top: 0;
}

.timeUsed {
  width: 0%;
  height: 100%;
  z-index: 30;
  background-color:#FAC70F;
  left: 0;
  top: 0;
  position: absolute;
}

.submitButton {
  @include button-primary;
  margin-bottom: 5rem;
  // padding: 2rem;
  // margin-left: 17rem;
}

.submitButton:hover {
  border: 2px solid $blue-dark;
  transform: scale(1.2);
  cursor: pointer;
}

.selected {
  background-color: $gray-light;
  color: $blue-dark;
}
