@import 'variables';

.addModuleForm {
  height: 100vh;
  overflow-y: scroll;
  text-align: center;
  font-size: small;
  padding: 0;
}

.courseLabel {
  font-weight: bold;
}

.inputStyle {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  z-index: 1;
  align-items: baseline;
  
}

.titleMinutes {
  display: flex;
  flex-direction: row;
  width: 40%;
  height: 4rem;
  text-align: center;
}

.title {
  height: 100%;
  width: 20rem;
  border: 2px solid $blue-dark;
  padding: 2.5rem 2rem 0rem 2rem;
  text-align: center;
  margin: 0.7rem 4rem 3rem -2rem;
  font-weight: bold;
  padding: 1rem;
  margin: 2.5rem 4rem 5rem -2rem;
  word-break: break-word;
}

.minutesTotal {
  height: 100%;
  width: 5rem;
  background-color: $gray-light;
  padding: 1rem;
  text-align: center;
  margin: 2.5rem 2rem 5rem 2rem
}

.circleLabel {
  width: 15%;
  margin-left: -4rem;
  background-color: $gray-light;
  height: 2rem;
}

.circleInput {
  padding: 1.5rem;
  width: 8rem;
  height: 8rem;
  border: 7px solid $blue-dark;
  border-radius: 70px;
  font-size: large;
  z-index: 2;
}

.description {
  background-color: $gray-light;
  width: 40%;
  height: 4rem;
  text-align: center;
  position: relative;
  padding-left: 3rem;
  z-index: 1;
  left: -2rem;
  bottom: .5rem;
}

.formNotes {
  margin: 0rem 2rem 0rem -5rem;
  padding-top: 3rem;
  z-index: 2;
  padding-left: .5rem;
  border: 2px solid $blue-dark;
}

.topLabels {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
}

.topLabelMinutes {
  margin-right: 28rem;
}

.topLabelInput {
  margin-right: 8rem;
}

.topLabelTime {
  margin-right: 1rem;
}

.topLabelNotes {
  margin-left: 1rem;
}

.moduleMetaData {
  display: flex;
  flex-flow: column;
  width: 50%;
  margin-left: 25%;
}

.formInput, .formSelect, .formLabel {
  padding: .5rem;
}

.formLabel {
  padding-top: 1rem;
  padding-right: 2rem;
}

.formInput {
  border: 2px solid $blue-dark;
  margin-bottom: 2rem;
}

.timeBar {
  color: white;
  text-align: center;
  position: fixed;
  z-index: 2;
  bottom: 0;
  width: 100%;
  background-color: $blue-dark;
  padding: 2rem;
  height: 4.7rem;
  align-items: center;
}

.timeMeter {
  width: 80%;
  height: 1rem; 
  background-color: $gray-light;
  border: 2px solid $blue-dark;
  margin: auto;
  z-index: 1;
  position: absolute;
  bottom: 3rem;
  right: 15%;
}

.timeBarLabels {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.range {
  width: 0%;
  height: 100%;
  z-index: 2;
  background-color: $gray-dark;
  position: absolute;
  right: 0;
  top: 0;
}

.timeUsed {
  width: 0%;
  height: 100%;
  z-index: 30;
  background-color:#FAC70F; 
  left: 0;
  top: 0;
  position: absolute;
}

.submitButton {
  background-color: $blue-medium;
  color: $off-white;
  font-weight: bold;
  margin-bottom: 5rem;
  padding: 2rem;
}

.submitButton:hover {
  border: 2px solid $blue-dark;
  transform: scale(1.2);
  cursor: pointer;
  margin-left: 17rem;
}

.selected {
  background-color: $gray-light;
  color: $blue-dark;
}

