.activityOptions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 25px;
}

@mixin buttonFormat {
    background-color: #ffffff;
    border: 2px solid;
    margin: 2px;
}

.firstActivity {
    @include buttonFormat;
    border-color: rgba(242, 71, 38);
}

.secondActivity {
    @include buttonFormat;
    border-color: rgba(143, 209, 80);
}

.thirdActivity {
    @include buttonFormat;
    border-color: rgba(13, 167, 137);
}

.forthActivity {
    @include buttonFormat;
    border-color: rgba(45, 155, 240);
}

.fifthActivity {
    @include buttonFormat;
    border-color: rgba(149, 16, 172);
}

.sixthActivity {
    @include buttonFormat;
    border-color: rgba(250, 199, 17);
}

.seventhActivity {
    @include buttonFormat;
    border-color: rgba(250, 199, 17);
}

.eighthActivity {
    @include buttonFormat;
    border-color: rgba(250, 199, 17);
}

.ninthActivity {
    @include buttonFormat;
    border-color: rgba(250, 199, 17);
}

.tenthActivity {
    @include buttonFormat;
    border-color: rgba(250, 199, 17);
}

.eleventhActivity {
    @include buttonFormat;
    border-color: rgba(250, 199, 17);
}