.activityOptions {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.firstActivity {
    background-color: #ffffff;
    border: 2px solid;
    margin: 2px;
    border-color: rgba(13, 167, 137);
}

.secondActivity {
    background-color: #ffffff;
    border: 2px solid;
    margin: 2px;
    border-color: rgba(250, 199, 17);
}

.thirdActivity {
    background-color: #ffffff;
    border: 2px solid;
    margin: 2px;
    border-color: rgba(143, 209, 80);
}

.forthActivity {
    background-color: #ffffff;
    border: 2px solid;
    margin: 2px;
    border-color: rgba(242, 71, 38);
}

.fifthActivity {
    background-color: #ffffff;
    border: 2px solid;
    margin: 2px;
    border-color: rgba(149, 16, 172);
}

.sixthActivity {
    background-color: #ffffff;
    border: 2px solid;
    margin: 2px;
    border-color: rgba(45, 155, 240);
}
