@import 'variables';

.form {
  @include form-box;
  margin: auto;
  width: 100%;
  font-family: 'IBM Plex Mono', monospace;
}

.input {
  margin-bottom: 1rem;
  font-size: 16px;
  padding: 0.2rem;
  width: 300px;
  font-family: 'IBM Plex Sans';
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inner {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.error {
  height: 39px;

  p {
    margin-top: 0;
    text-align: center;
    padding-right: 1rem;
    transition: 1s;
  }
}

.button {
  @include button-primary;
  font-family: 'IBM Plex Sans';
}


.courseFormHeading {
  @include form-box;
  width: 50%;
  height: 8rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom:5rem;

  .courseFormTitleWrapper {
    text-align: center;
    background-color: white;
    border: 2px solid $blue-dark;
    box-shadow: -1px 3px 15px rgb(27, 61, 89, 0.5);
    padding: 0.5rem;
    width: 130%;
    margin-left: -15%;
    
    .courseFormTitle {
      margin: 0;
      font-family: 'IBM Plex Mono', monospace;

    }
  }
}