@import 'variables';

.courseHeader {
  @include form-box;
  width: 50%;
  height: 8rem;

  .courseInformation {
    width: 100%;
    text-align: center;
    background-color: white;
    border: 2px solid $blue-dark;
    box-shadow: -1px 3px 15px rgb(27, 61, 89, 0.5);

    .courseName {
      padding: 0;
      margin: 0;
      font-family: 'IBM Plex Mono', monospace;
    }

    .courseInstitution {
      margin: 0.1rem;
      font-weight: bolder;
      font-size: 14px;
    }
  }

  .courseTimeInformation {
    font-size: small;
    margin-top: 1rem;
    align-self: center;
    text-align: left;
    display: flex;
    flex-direction: row;

    .courseTime {
      display: flex;
      flex-direction: row;
      margin: 0rem 2rem;
      text-align: center;
      h2 {
        font-size: small;
        margin-right: .2rem;
      }
    }
  }
}

.courseGraphs {
  display: flex;
  flex-direction: column;
  align-items: center;

  .donut {
    width: 100%;
    max-width: 1000px;
  }
}

.chartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 1rem 0;
  width: 80%;

  h2 {
    font-size: 18px;
    color: gray;
  }
}

.activityOptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 25px;
  justify-content: center;
}

.buttonChart {
  background-color: #ffffff;
  border: 2px solid;
  margin: 2px;
  padding: .2rem;
}

.buttonDelete {
  @include button-primary;
  margin-bottom: 2rem;
}
