@import 'variables';

.moduleHeader {
  @include form-box;
  width: 50%;
  height: 8rem;

  .moduleName {
    text-align: center;
    background-color: white;
    border: 2px solid $blue-dark;
    box-shadow: -1px 3px 15px rgb(27, 61, 89, 0.5);
    padding: 0.5rem;
    width: 130%;
    margin-left: -15%;
  }

  .moduleTimeInfo {
    font-size: small;
    align-self: center;
    text-align: left;
    display: flex;
    flex-direction: row;

    .moduleTotal {
      font-size: small;
      padding: 0;
      margin: 0;
      margin-right: .5rem;
    }

    .totalModuleMinutes {
      font-size: small;
      text-align: center;
    }
  }
  
}

.moduleMetaData {
  color: blue;
}

.moduleActWrapper {
  display:grid;
  grid-template-columns: minmax(400px, 1fr);

  .moduleActivityInputs {
    color: white;
    display: flex;
    flex-direction: row;
    margin: 2rem;
  }

  .moduleActivityInputsCircles {
    padding: 1.5rem;
    color: #1B3D59;
    background-color: white;
    width: 10rem;
    height: 10rem;
    border-radius: 85px;
    font-size: large;
    z-index: 2;
    position: relative;
    left: 5rem;
    bottom: 0rem;
    text-align: center;

    p {
      padding-top: 1rem;
    }

  }

  .moduleActivitySideInfo {
    display: flex;
    flex-direction: column;
    width: 40vw;
    z-index: 1;

  }

  .moduleNotes {
    padding: 0rem 0rem 0rem 7rem;
  }

  .moduleActivityNameNotes {
    color: $blue-dark;
  }

  .moduleActivityTimeNotes {
    background-color: $gray-dark;
  }

  .moduleActivityNameNotes, .moduleActivityTimeNotes {
    text-align: center;
  }
}
.deleteButton, .editButton {
  @include button-primary;
  margin-bottom: 2rem;

}

.editButton:hover {
  background-color: $blue-light;
}

.deleteButton:hover {
  background-color: darkred;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.donut {
  width: 100%;
  max-width: 1000px;
}