/* primary cyan #2E9BF0 */
/* background blue #1B3D59 */
/* active blue #2D75AE */
/* dark gray #808080 */
/* light gray #E6E6E6 */

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap');

.navbar {
  min-height: 100vh;
  width: 200px;
  background-color: #1B3D59;
  font-family: 'Rajdhani', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.container {
  background-color: #2E9BF0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 160px; */
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: #F9F9F9;
  margin-top: 1rem;
}

.courseButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.courseButtons a {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #2D75AE;
}

.navButtons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navButtons a {
  background-color: #808080;
  padding: 0.5rem 0;
  text-align: center;
  width: 100%;
}

.new {
  background-color: #2E9BF0 !important;
}

.navButtons a:nth-child(1) {
  background-color: #808080;
}

.navButtons a:nth-child(2) {
  background-color: #E6E6E6;
}
