@import 'variables';

.navbar {
  min-height: 100vh;
  width: 200px;
  background-color: $blue-dark;
  font-family: 'Rajdhani', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.container {
  background-color: $blue-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 160px; */
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: $off-white;
  margin-top: 1rem;
}

.courseButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 80%;
}

.navButtons {
  display: flex;
  flex-direction: column;
  width: 100%;

  a {
    padding: 0.5rem 0;
    text-align: center;
    width: 100%;
  }
}

.link,
.add {
  padding: 0.5rem 0;
  text-align: center;
  margin-top: 0.5rem;
  width: 100%;
}

.link {
  background-color: $blue-medium;
}

.add {
  background-color: $blue-light;
}

.navButtons a:nth-child(1) {
  background-color: $gray-dark;
}

.navButtons a:nth-child(2) {
  background-color: $gray-light;
}
