@import 'variables';

.navbar {
  height: 100vh;
  width: 200px;
  background-color: $blue-dark;
  font-family: 'Rajdhani', sans-serif;
  // font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.container {
  background-color: $blue-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 160px; */
  width: 100%;

  h1 {
    margin-top: 0;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: $off-white;
  margin-top: 1rem;
}

.courseButtons {
  overflow-y: scroll;
  height: 100%;
}

.courseButtons,
.navButtons {
  display: flex;
  flex-direction: column;
  width: 100%;

  a {
    padding: 0.5rem 0;
    text-align: center;
    width: 100%;
  }
}

.course,
.addCourse,
.module {
  cursor: pointer;
  padding: 0.5rem 0;
  text-align: center;
  margin-top: 0.5rem;
  width: 100%;
}

.module {
  margin-top: 0;
  border-top: 1px solid $blue-dark;
}

.module,
.course {
  background-color: $blue-medium;

  :hover {
    text-decoration: underline;
  }
}

.addCourse {
  background-color: $blue-light;

  :hover {
    text-decoration: underline;
  }
}

.navButtons a:nth-child(1) {
  background-color: $gray-dark;
}

.navButtons a:nth-child(2) {
  background-color: $gray-light;
}
