@import 'variables';

.navbar {
  height: 100vh;
  width: 200px;
  background-color: $blue-dark;
  font-family: 'IBM Plex Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  color: $gray-light;

  * {
    font-weight: bold;
  }
}

.container {
  background-color: $blue-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  h1 {
    margin-top: 1rem;
    font-family: 'IBM Plex Mono', monospace;
    cursor: pointer;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: $off-white;
  margin-top: 1rem;
  cursor: pointer;
}

.homeLogo {
  cursor: pointer;
}

.courseButtons {
  overflow-y: scroll;
  max-height: 100%;
}

.courseButtons,
.navButtons {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: .9rem;
  box-shadow: -1px 3px 15px rgb(27, 61, 89, 0.5);

  a {
    padding: 0.5rem 0;
    text-align: center;
    width: 100%;
  }
}

.course,
.addCourse,
.module {
  cursor: pointer;
  padding: 0.5rem 0;
  text-align: center;
  margin-top: 0.5rem;
  width: 100%;
}

.module {
  border-top: 1px solid $blue-dark;
  margin: 4px 0px 4px 25px;
}

.course {
  margin: 4px 0px 4px 10px;
}

.home {
  background-color: $gray-light;
  color: $blue-dark;
  padding: 0.5rem 0;
  text-align: center;
  width: 100%;
  cursor: pointer;
  margin: 15px 10px 4px 10px;

  :hover {
    text-decoration: underline;
  }
}

.module,
.course {
  background-color: $blue-medium;

  :hover {
    text-decoration: underline;
  }
}

.addCourse {
  background-color: $blue-light;
  margin: 4px 0px 4px 25px;

  :hover {
    text-decoration: underline;
  }
}

.navButtons {
  cursor: pointer;
  border-top: 2rem solid $blue-dark;

  :hover {
    text-decoration: underline;
  }
}

.navButtons a:nth-child(1) {
  background-color: $blue-light;
}

.navButtons a:nth-child(2) {
  background-color: $gray-dark;
}

.navButtons a:nth-child(3) {
  background-color: $gray-light;
  color: $blue-dark;
}
